html{
    font-family: "Montserrat", sans-serif;  
    font-size: 1rem;
    
  }

h1 {text-align: center;color:honeydew;  font-size: 60px
}
h2{text-align: center;color: white;background-color:grey;font-size: 30px}

body{
  background-color: bisque;
  margin-left: 150px;
  margin-right: 150px;}

