html{
    font-family: "Montserrat", sans-serif;  
    font-size: 1rem;
    
  }

h1 {text-align: center;color: white;  font-size: 50px;
}
h2{text-align: center;color: white;background-color:grey;}

body{text-align: center;}